################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GetProductDetails/obj
/GetProductDetails/Properties
/GetProductDetails/bin
